.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.env
.env.*
!.env.example
env.json
*.jks
*.keystore
key.properties
android/local.properties
android/app/google-services.json
.vscode/
